.code-copy-button {
  display: none;
  margin: 0 0 0 auto;
  padding: 4px;
  position: absolute;
  top: 0;
  right: 0;

  svg.copy path {
    fill: var(--interactive-normal);
  }

  &:hover,
  &:active {
    cursor: pointer;
    svg path {
      fill: var(--interactive-accent-hover);
      transition: all ease 0.3s;
    }
  }

  svg.copy-success path {
    fill: var(--interactive-success);
  }

  &:focus {
    outline: 0;
  }
}

.has-code-copy-button pre {
  position: relative;
  &:hover {
    .code-copy-button {
      display: block;
    }
  }
}
