.code-copy-button {
    display: block;
    margin-left: auto;
    margin-right: 0;
    font-family: monospace;
    text-transform: uppercase;
    margin-bottom: -2px;
    padding: 10px;
    font-size: 0.6em;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0 4px 0 0;
    opacity: .3;
}

.has-code-copy-button .code-copy-button{
    width: auto;
    margin-top: 0;
}

.code-copy-button:hover {
    cursor: pointer;
    opacity: 1;
}

.code-copy-button:focus {
    outline: 0;
}

.highlight pre {
    margin: 0;
}

.has-code-copy-button {
    position: relative;
}
